*{
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}



.container{
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: logoAnimation 3s;
}



