:root {
    --backgrounNavBar: rgba(236, 236, 236, 0.913);
    --colorHerring :rgb(43, 193, 181);
    --greyText: rgb(171, 167, 167);
}

.mainContainer{
    display: flex;
    justify-content: end;
    z-index: 1;
    position: fixed ;
    right: 0px;
    top: 70px;
    width: 15%;
   
}

.containerDisabled {
    display: flex;
    justify-content: start;
    margin: 0px;
    padding: 0px;
    background-color: var(--backgrounNavBar);
    transform: translateX(200%);
    transition: all 1s;
    opacity: 0.1;
    border-radius:  0px 8px;
}

.container{
    display: flex;
    justify-content: start;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: var(--backgrounNavBar);
    opacity: 1;
    transform: translateX(0%);
    transition:  all 1s;
    border-radius: 0px 8px;

}


.mainContainer ul {
    text-align: start;
    margin: 0px;
    list-style-type: none;
    padding: 0px;

}

a{
    text-decoration: none;
    color: rgb(136, 131, 131);
}

ul li{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 35px;
    font-weight: 600;
    padding-left: 30px;
    
}

ul li:hover {
    background-color: rgb(39, 195, 182);
    color: white;
    cursor: pointer;
   
}




