.container{
    color: var(--colorHerring) ;
    margin-top: 120px;
    margin-bottom: 200px;
    text-align: center;
    font-size: 35px;
}



.container h3{
    margin: 0px;
    padding: 0px;
    color: var(--greyText);
    height: 80px;
}

.registerButton{
    background-color: var(--colorHerring);
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 50px;
    border: solid white;
    outline: none;
}


.containerButtons{
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    margin-right: 30%;
}
.visible{
    opacity: 1;
    transition: all 2s;
    transform: translatex(0px);
}

.invisible{
    opacity: 0;
    transition: all 0.3s;
    transform: translatex(-500px);
}

.visibleTitle h1{
    margin-bottom: 35px;
    transform: translateY(0px);
    transition: all 2s;

}
.visibleTitle img{
    margin-bottom: 35px;
    transform: translateX(0px)rotate(0deg);
    transition: all 2s;

}
.invisibleTitle h1 {
    margin-bottom: 35px;
    transform: translateY(-500px);

    transition: all .3s;

}

.invisibleTitle img {
    margin-bottom: 35px;
    transform: translateX(500px) rotate(180deg);
    transition: all .3s;

}
.containerButtons button:hover{
    cursor: pointer;
    background-color: var(--backgrounNavBar);
    color: var(--colorHerring);
    border: none;
    transition: all .9s;
    border: solid var(--colorHerring);
}